.scene {
    font-weight: bold;
    text-align: center;
}

.dialogue {
    width: 400px;
    margin: 0 auto;
}

.titlepage {
    text-align: center;
}

.speaker {
    text-align: center;
}

.parenthetical {
    text-align: center;
    font-style: italic;
}

.transition {
    text-align: right;
}

.page-break {
    page-break-after: always;
}

div.dual-dialogue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "hl hr"
        "dl dr";
    width: 400px;
    margin: 0 auto;
}

div.dual-dialogue p.dialogue {
    width: auto;
}

div.dual-dialogue :nth-child(1) {
    grid-area: hl;
}

div.dual-dialogue :nth-child(2) {
    grid-area: dl;
}

div.dual-dialogue :nth-child(3) {
    grid-area: hr;
}

div.dual-dialogue :nth-child(4) {
    grid-area: dr;
}

body {
    font-family: monospace, monospace;
    max-width: 800px;
}