@import '~purecss/build/pure.css';

body {
    background-color: #222;
    padding: 10px;
    color: #eee;
}

header {
    top: 0;
    height: 5%;
}

footer {
    font-size: small;
    height: 5%;
}

header table {
    width: 100%;
}

header table button {
    // width: 100%;
    float: right;
}

header h1 {
    font-size: large;
}

a {
    color: lightblue;
}

.container {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.editor {
    font-family: monospace;
    color: black;
    height: 90%;
}

.with-sidebar {
    overflow: hidden;
}

.with-sidebar > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--s1) / 2 * -1);
    height: 100%;
}

.with-sidebar > * > * {
    margin: calc(var(--s1) / 2);
    flex-basis: 50%;
    flex-grow: 1;
}

.with-sidebar > * > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - var(--s1));
    align-items: stretch;
}

.scene {
    font-weight: bold;
    text-align: center;
}

.dialogue {
    width: 400px;
    margin: 0 auto;
}

.titlepage {
    text-align: center;
}

.speaker {
    text-align: center;
}

.parenthetical {
    text-align: center;
    font-style: italic;
}

.page-break {
    page-break-after: always;
}

.output-pane {
    padding: 20px;
    background-color: #eee;
    border: 1px solid gray;
}

.input-pane textarea {
    width: 100%;
    height: 100%;
}
