@import '~purecss/build/pure.css';

body {
    background-color: #ddd;
    padding: 10px;
}

header {
    display: fixed;
    top: 0;
    left: 0;
    align-items: center;
}

.with-sidebar {
    overflow: hidden;
}

.with-sidebar > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar > * > * {
    margin: calc(var(--s1) / 2);
    flex-basis: 50%;
    flex-grow: 1;
}

.with-sidebar > * > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - var(--s1));
    align-items: stretch;
  }

footer {
    display: fixed;
    bottom: 0;
    left: 0;
}

.scene {
    font-weight: bold;
    text-align: center;
}

.dialogue {
    width: 400px;
    margin: 0 auto;
}

.metadata {
    text-align: center;
}

.speaker {
    text-align: center;
}

.parenthetical {
    text-align: center;
    font-style: italic;
}

.page-break {
    page-break-after: always;
}

.output-pane {
    padding: 20px;
    font-family: monospace;
    background-color: white;
    border: 1px solid gray;
}

.input-pane textarea {
    font-family: monospace;
    width: 95%;
}
